<launch>
  <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <!-- Robotiq 85 driver -->
  <group unless="$(arg sim)">
    <arg name="comport" default="/dev/ttyUSB0"/>
    <arg name="baud" default="115200"/>
    <arg name="run_test" default="false"/>
    <arg name="prefix" default=""/>

    <node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen">
      <param name="num_grippers" value="1" />
      <param name="comport" value="$(arg comport)" />
      <param name="baud" value="$(arg baud)" />
      <param name="prefix" value="$(arg prefix)" />
    </node>
    <!-- <include file="$(find robotiq_85_gazebo)/launch/controller_utils.launch"/>
    <rosparam file="$(find robotiq_85_gazebo)/controller/gripper_controller_robotiq.yaml" command="load"/>
    <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" args="gripper" /> -->
  </group>

  <!-- Launch moveit -->
  <include file="$(find ur5_e_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>
</launch>
